<!doctype HTML>
<head>
    <title>SPR OSS STUDENT INTERN DATA!</title>
    <meta name="Keywords" content="Bookstore, Online Books, Search Books, Books"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BiblioBin is a book review web app developed using Flask and SQL. You can search for books, leave reviews for individual books, and see the reviews made by other people."/>
    <!-- Latest compiled and minified CSS (BootStrap)-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body> 
    {% block navbar%} {% endblock %}
    {% block body%} {% endblock %}
    {% block footer%} {% endblock %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html> 