name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Thank you for generating an issue to this project! Please wait while we get back to you.'' first issue'
        pr-message: 'We love Pull Requests! Thank you for contributing, however you will have to wait we check with your PR. '' first pr'

